<div class="search-form-wrapper">
  <div class="vertical">
    <div id="search-form" class="search-form">
      <a href="#close-icon"><img class="close-icon" src="/images/cross.svg" /></a>
      <div class="search-form-content">
        <form action="/search/" method="get">
          <div class="form-group">
            <label class="control-label">Search</label>
            <input id="search-box" name="query" class="form-control search"/>
          </div>
          <input class="button" type="submit" value="search">
        </form>
      </div>
    </div>
  </div>
</div>