.block-wrapper{
  display: inline-block;
  width: 94%;
  height: 100%;
  padding: 0 3%;
}
.block-posts-container{
  width: 100%;
  display: inline-block;
  margin-bottom: $spacing-unit / 2;
}
.block-feature-image{
  display: table;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}
.block-feature-overlay{
  display: table;
  background: $color-white;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  transform: skewY(-6deg);
  transform-origin: bottom left;
  z-index: $height-bottom;
}
.block-feature-title{
  width: auto;
  font-size: 400%;
  letter-spacing: .5rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: $spacing-unit / 4;
  padding-bottom: $spacing-unit / 2;
  @media (max-width: $laptop) {
    font-size: 6rem;
  }
  @media (max-width: $phone) {
    font-size:  200%;
    letter-spacing: .5rem;
  }
}
.block-feature{
  width: 100%;
  display: table;
  text-align: center;
  margin: 0 auto;
  margin-bottom: $spacing-unit;
  padding-bottom: $spacing-unit / 2;
  z-index: $height-middle;
}
.block-feature-text{
  width: 120%;
  margin-left: -10%;
  p{
    font-size: 1.4rem;
  }
  @media (max-width: $laptop) {
    width: 100%;
    margin: 0;
    font-size: 100%;
    text-align: center;
  }
  .button{
    margin-top: $spacing-unit / 2;
  }
}
.block-banner{
  display: table;
  width: 100%;
  min-height: 50vw;
  max-height: 50vh;
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;

  h2.block-banner-header{
    font-size: 400%;
    letter-spacing: 1rem;
    text-transform: uppercase;
    color: $color-white;
    @media (max-width: $phone) {
      font-size:  200%;
    }
  }
  .block-banner-text{
    color: $color-white;
  }
}
.block-image{
  display: table;
  width: 50%;
  min-height: 50vw;
  max-height: 50vw;
  height: 50vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  @include span(1/2);
  @media (max-width: $tablet) {
    @include stack();
    min-height: 70vw;
    max-height: 70vw;
    height: 70vw;
  }
}
.block-content{
  display: table;
  width: 50%;
  min-height: 50vw;
  max-height: 50vw;
  height: 50vw;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-attachment: scroll;
  -webkit-background-size: 70%;
  -moz-background-size: 70%;
  -o-background-size: 70%;
  background-size: 70%;
  overflow-y: hidden;
  @include span(1/2);
  @media (max-width: $tablet) {
    @include stack();
    display: table;
    min-height: 70vw;
    max-height: 70vw;
    height: 70vw;
  }
}
.block-features{
  display: table;
  background: $color-white;
  width: 50%;
  min-height: 50vw;
  max-height: 50vw;
  height: 50vw;
  overflow-y: hidden;
  @include span(1/2);
  @media (max-width: $tablet) {
    @include stack();
    display: table;
    min-height: 70vw;
    max-height: 70vw;
    height: 70vw;
  }
  .block-small{
    display: table;
    width: 50%;
    min-height: 25vw;
    max-height: 25vw;
    height: 25vw;
    overflow-y: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @include span(1/2);
    @media (max-width: $tablet) {
      min-height: 50vw;
      max-height: 50vw;
      height: 50vw;
    }
    .block-small-overlay{
      display: table;
      width: 100%;
      height: 100%;
      .block-small-content{
        display: table;
        box-shadow: inset 0 0 0 .2em $color-transparent;
        text-align: center;
        height: 93%;
        width: 93%;
        margin: 3%;
        h3{
          margin: 0;
          color: $color-white;
          text-transform: uppercase;
          letter-spacing: .1em;
          font-size: 1.8rem;
        }
      }
    }

  }
}
.block-items{
  width: 100%;
  float: left;
  background: $color-white;
}
h2.block-items-title{
  font-size: 300%;
  letter-spacing: .5rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: $spacing-unit / 2;
  @media (max-width: $laptop) {
    font-size:  250%;
  }
  @media (max-width: $phone) {
    font-size:  200%;
    letter-spacing: .5rem;
  }
}

.block-item{
  padding-bottom: $spacing-unit / 2;
  @include column(1/2, $cycle: 2);
  @media (max-width: $tablet) {
    @include stack();
    padding-top: $spacing-unit / 2;
    padding-bottom: $spacing-unit / 2;
  }
}
.block-item-image{
  width: 94%;
  height: 40vh;
  padding: 0 3%;
  display: table;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: $spacing-unit / 2;
}
.block-item-content{
  font-size: 100%;
  text-align: center;
}
h3.block-item-title{
  display: inline-block;
  color: $color-white;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  border: .2em solid $color-white;
  padding: $spacing-unit / 2;
  @media (max-width: $desktop) {
    font-size:  200%;
  }
  @media (max-width: $laptop) {
    font-size:  150%;
  }
  @media (max-width: $tablet) {
    font-size:  200%;
  }
  @media (max-width: $phone) {
    font-size:  80%;
    letter-spacing: .2rem;
  }
}
.block-text{
  font-size: 100%;
  h2{
    text-transform: uppercase;
    font-size: 400%;
    letter-spacing: .8rem;
    margin: 0;
    margin-bottom: $spacing-unit / 4;
    @media (max-width: $laptop) {
      font-size:  300%;
      letter-spacing: .5rem;
    }
    @media (max-width: $phone) {
      font-size:  150%;
      letter-spacing: .3rem;
    }
  }
  h3{
    text-transform: uppercase;
    font-size: 400%;
    letter-spacing: .5rem;
    @media (max-width: $laptop) {
      font-size:  250%;
    }
    @media (max-width: $phone) {
      font-size:  200%;
      letter-spacing: .3rem;
    }
  }
  hr{
    width: 4em;
    height: .5em;
    margin: 0;
    margin-top: $spacing-unit / 4;
    margin-bottom: $spacing-unit / 4;
    background: $color-brand-alt;
  }
  button{
    margin-left: 0;
    margin-top: 0;
  }
  @media (max-width: $tablet) {
    margin: 0;
    padding: 0;
  }
}
.block-title{
  margin-bottom: 0;
}
.block-subtitle{
  font-size: 1.2rem;
  color: $color-grey-dark;
  font-family: $alt-font-family;
  text-transform: uppercase;
  letter-spacing: .2em;
  margin-bottom: $spacing-unit / 4;
}
.block-meta{
  font-size: .9rem;
  display: block;
  color: $color-grey-dark;
  font-family: $alt-font-family;
  text-transform: uppercase;
  letter-spacing: .2em;
  margin-bottom: $spacing-unit / 2;
  color: $color-grey-dark;
}

.block-feature-items{
  display: inline-block;
  width: 100%;
  margin-top: $spacing-unit;
}
.block-highlight-item{
  text-align: center;
  position:relative;
  margin-bottom: $spacing-unit;
  @include column(1/3, $cycle: 3);
  @media (max-width: $tablet) {
    @include stack();
  }
}
.block-highlight-image{
  width: 100%;
  height: 100%;
  max-height: 40vh;
  min-height: 40vh;
  display: table;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.block-highlight-overlay{
  width: 100%;
  height: 100%;
  max-height: 40vh;
  min-height: 40vh;
  top: 0;
  left: 0;
  position: absolute;
  display: table;
  background-image:linear-gradient(rgba(0,30,61,.90), rgba(0,30,61,.90));
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0;
  z-index: 1999;
  -webkit-transition: opacity .2s linear; /* Saf3.2+, Chrome */
  -moz-transition: opacity .2s linear; /* FF3.7+ */
  -o-transition: opacity .2s linear; /* Opera 10.5 */
  transition: opacity .2s linear;
}
.block-highlight-item:hover .block-highlight-overlay{
  background-image:linear-gradient(rgba(0,30,61,.90), rgba(0,30,61,.90));
  opacity: 1;
  -webkit-transition: opacity .2s linear; /* Saf3.2+, Chrome */
  -moz-transition: opacity .2s linear; /* FF3.7+ */
  -o-transition: opacity .2s linear; /* Opera 10.5 */
  transition: opacity .2s linear;

}
.block-highlight-content{
  width: 100%;
  height: 100%;
  max-height: 40vh;
  min-height: 40vh;
  top: 0;
  left: 0;
  position: absolute;
  display: table;
  z-index: 2000;
}
h2.block-highlight-title{
  font-size: 1.6rem;
  font-weight: 800;
  color: $color-white;
  letter-spacing: .2em;
  margin: 0;
  text-transform: uppercase;
  padding: $spacing-unit / 2 $spacing-unit / 4;
  margin-bottom: $spacing-unit / 4;
  border: .15em solid $color-white;
  width: 60%;
  margin: 0 auto;
  position: relative;
  @media (max-width: $laptop) {
    font-size: 1.3rem;
  }
  @media (max-width: $tablet) {
    font-size: 1rem;
  }
}

h3.block-highlight-subtitle{
  color: $color-white;
  font-family: $base-font-family;
  letter-spacing: .2em;
  margin: 0;
  text-transform: uppercase;
  padding: 0 $spacing-unit / 2;
  margin-bottom: $spacing-unit / 4;
}
.block-athlete{
  padding-bottom: $spacing-unit / 2;
  @include column(1/2, $cycle: 2);
  @media (max-width: $tablet) {
    @include stack();
    padding-bottom: $spacing-unit / 2;
  }
}
.block-athlete-image{
  width: 100%;
  min-height: 50vh;
  max-height: 50vh;
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: $spacing-unit / 2;
  @include span(1/2);
  @media (max-width: $tablet) {
    margin-bottom: 0;
  }
  @media (max-width: $phone) {
    @include stack();
    min-height: 40vh;
    max-height: 40vh;
    height: 40vh;
  }
}
.block-athlete-content{
  background: $color-brand;
  min-height: 50vh;
  max-height: 50vh;
  height: 50vh;
  display: table;
  font-size: 100%;
  text-align: center;
  @include span(1/2);
  @media (max-width: $tablet) {

  }
  @media (max-width: $phone) {
    @include stack();
    min-height: 40vh;
    max-height: 40vh;
    height: 40vh;
    width: 100%;
    margin: 0 auto;
    display: table;
  }
  p{
    color: $color-white;
    font-family: $alt-font-family;
    font-size: 90%;
    margin-bottom: $spacing-unit / 4;
    text-align: center;
  }
}
h3.block-athlete-title{
  font-size: 1.2rem;
  display: inline-block;
  color: $color-white;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: $spacing-unit / 4;
}
