.sub-nav{
  text-align: center;
  background: $color-off-white;
  margin: 0;
  list-style: none;
  margin-bottom: $spacing-unit;
  @include fadeIn(
    $delay: 1.7s
  );
  .sub-nav-item{
    display: inline-block;
    padding: $spacing-unit / 4 0;
    margin: 0;
    @media (max-width: $tablet) {
      display: block;
      width: 100%;
    }
    a{
      padding: $spacing-unit / 2 $spacing-unit / 4;
      font-family: $header-font-family;
      font-size: .7rem;
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: .1rem;
      @media (max-width: $phone) {
        font-size: .6rem;
      }
    }
  }
  .active{
    background: $color-grey-light;
    border-bottom: .2rem solid $color-brand-alt;
    a{
      color: $color-brand;
    }
  }
}
