<section id="contact" class="contact-form" style="background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/forest.jpg);">
  <div class="container">
    <h2 class="contact-header 1">Contact</h2>
    <hr class="content-block-hr 1">
    <hr class="hr 1" />
    <!--<div class="mobileContact textCenter">
      <a class="button buttonBrand" a href="mailto:hello@fttoulousejackson.org">Message</a>
    </div>-->
    <form class="contact" action="//formspree.io/tgray.it@gmail.com" method="post" autocomplete="off">
      <div class="input-group 1">
        <label class="form-label" for="name">Name</label>
        <input class="form-control" type="text" placeholder="John Doe" name="name">
      </div>
      <div class="input-group 1">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="email" placeholder="jdoe@gmail.com" name="_replyto">
      </div>
      <div class="input-group 1">
        <label class="form-label" for="password">Message</label>
        <textarea class="form-control" placeholder="Hello..." name="message" required></textarea>
      </div>
      <input type="hidden" name="_subject" value="New Website Message!" />
      <input type="hidden" name="_next" value="/thanks/" />
      <input class="button 1" type="submit" value="send">
    </form>
    </div>
  </div>
</section>
