<div class="nav-bar animated fadeIn slow4">
  <a href="/" class=""><h1 class="nav-logo">JTG</h1></a>
  <!--<div class="nav-items">
    <ul>
      <li><a href="#intro">Intro</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>-->
  <div class="menubtn">
    <a href="javascript:void(0)" class="icon">
     <div class="hamburger">
       <div class="menui top-menu"></div>
       <div class="menui mid-menu"></div>
       <div class="menui bottom-menu"></div>
     </div>
    </a>
  </div>
</div>
<div class="mobile-nav">
  <ul>
    <li><a href="#intro">Intro</a></li>
    <li><a href="#skills">Skills</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</div>
