<section class="block-feature-image" id="{{ .Title }}">
  <div class="container">
    <h2 class="block-feature-title">{{ .Title }}</h2>
  </div>
  <hr class="hr-space" />
    <div class="block-feature-text">
      <img class="image" src="{{ .Params.Image }}">
      <div class="container">
        {{ .Content }}
        {{ if isset .Params "website" }}
          <a href="{{ .Params.website }}" class="button draw">Visit Website</a>
        {{ end }}
      </div>

    </div>
</section>