@mixin banner {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  vertical-align: middle;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}


@mixin phone {
  @media (min-width: #{$phone-width}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: #{$laptop-width}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
