.row{
  width: 100%;
  height: auto;
  float: left;
}
.half-column{
  display: table;
  font-size: 1rem;
  width: 100%;
  padding: 0% 0;
  min-height: 30em;
  background-color: #f1f1f1;
}
.half-column p{
  color: $color-white;
  font-family: $base-font-family;
  text-align: center;
  font-size: 1.1rem;
  padding: 0 10%;
}
.half-column object{
  width: 40%;
  padding: 0 30%;
  margin: 0 auto;
  display: block;
}
@include laptop {
  .half-column{
    display: table;
    font-size: 1rem;
    width: 50%;
    padding: 10% 0;
    min-height: 30em;
  }
}
